<!--<iframe title="dashboard english - copieclient" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=6199eed6-a25d-4619-a899-7d48df98ef3b&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>-->
<br><br><br>
<!--
<iframe title="clients" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=05ade8c6-4e1a-4574-9ed7-22481997c28d&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
-->
<iframe title="Report Section" width="1600" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZDcwZTU2OTYtZGYzNS00Y2RjLWFlYjMtNjQwOTMwYzM4Y2Q1IiwidCI6IjI5MzA4ZTVjLTg3NDQtNGI5MC1hNjhiLTI4ZmM2MmU4ZDMyNyJ9&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>