.multicolortext {
    text-align: center;
            font-size: 20px;
            background: linear-gradient(to left,
            
            #00A1F1,
            #037E99,
            #0D4073,
            #037E99,
            #00A1F1,
            
                    );
            -webkit-background-clip: text;
            color: transparent;
  }