<!--<iframe title="dashboard english - copieclient" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=6199eed6-a25d-4619-a899-7d48df98ef3b&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>-->
<br><br><br>
<!--
<iframe title="clientbanque" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=bf087152-5365-4166-b052-78cb867731b2&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
-->
<iframe title="Report Section" width="1600" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiYTQ0OGQzNjctODliZS00OGQzLThmN2QtZjViYTBkZDJjNTMxIiwidCI6IjI5MzA4ZTVjLTg3NDQtNGI5MC1hNjhiLTI4ZmM2MmU4ZDMyNyJ9&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>