           <br><br><br>
           <!--francais-->
<!--<iframe title="dashboard - copieclient" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=0754d683-106f-4041-b934-536d1164d256&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>-->
           <!--english-->
<!--<iframe title="dashboard english - copieclient" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=6199eed6-a25d-4619-a899-7d48df98ef3b&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true" [hidden]="!navContentPaneEnabled" [hidden]="!filterPaneEnabled"></iframe>-->

<!--
<iframe title="dashboard english - copieclient" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=6199eed6-a25d-4619-a899-7d48df98ef3b&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
-->
<!--
<iframe title="banque" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=08d3ef0c-cb5c-4e87-b5b1-72b9223feb4f&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
-->

<iframe title="Report Section" width="1600" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDU0MjlhOTgtYzI4OC00NmY2LThmYjMtNjcyMDllODQ1YmI3IiwidCI6IjI5MzA4ZTVjLTg3NDQtNGI5MC1hNjhiLTI4ZmM2MmU4ZDMyNyJ9&$filterPaneEnabled=false&navContentPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>



<!--<iframe title="banque" width="1600" height="700" src="https://app.powerbi.com/reportEmbed?reportId=08d3ef0c-cb5c-4e87-b5b1-72b9223feb4f&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
-->